In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report , ConfusionMatrixDisplay , confusion_matrix , accuracy_score
import re
import string

In [2]:
df_true = pd.read_csv("True.csv")
df_fake = pd.read_csv("Fake.csv")

In [3]:
print("Fake News")
df_fake.head()

Fake News

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
print("True News")
df_true.head()

True News

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
df_fake['class'] = 0
df_true['class'] = 1

In [6]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
df_fake.shape , df_true.shape

((23481, 5), (21417, 5))

In [8]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480 , 23470 ,-1):
    df_fake.drop([i] , axis=0 ,inplace=True)
    
df_true_manual_testing = df_true.tail(10)
for i in range(21416 , 21406 ,-1):
    df_true.drop([i] , axis=0 ,inplace=True)

In [9]:
df_fake.shape , df_true.shape

((23471, 5), (21407, 5))

In [10]:
df_fake_manual_testing['class'] = 0
df_true_manual_testing['class'] = 1

C:\Users\darsh\AppData\Local\Temp\ipykernel_9200\1523065411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing['class'] = 0
C:\Users\darsh\AppData\Local\Temp\ipykernel_9200\1523065411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing['class'] = 1

In [11]:
df_fake_manual_testing.head()

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [12]:
df_true_manual_testing.head()

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1

In [13]:
data_merge = pd.concat([df_fake , df_true] , axis=0)
data_merge.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [14]:
data_merge.shape

(44878, 5)

In [15]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [16]:
data = data_merge.drop(['title', 'subject', 'date'] , axis=1)

In [17]:
data.isnull().sum()

text     0
class    0
dtype: int64

# Random Suffling of data

In [18]:
data = data.sample(frac=1)

In [19]:
data.head()

                                                    text  class
5227   If you ve recently gotten into an online polit...      0
3441   BERLIN (Reuters) - German Environment Minister...      1
2552   Donald Trump is clearly a threat to our nation...      0
15660  MANILA (Reuters) - Philippine security forces ...      1
13172  LA PAZ (Reuters) - More than half the ballots ...      1

In [20]:
data.reset_index(inplace=True)
data.drop(['index'] , axis=1 , inplace=True)

In [21]:
data.head()

                                                text  class
0  If you ve recently gotten into an online polit...      0
1  BERLIN (Reuters) - German Environment Minister...      1
2  Donald Trump is clearly a threat to our nation...      0
3  MANILA (Reuters) - Philippine security forces ...      1
4  LA PAZ (Reuters) - More than half the ballots ...      1

# Function for processing the text

In [22]:
data['text'][0]

'If you ve recently gotten into an online political debate, it s likely that you ve encountered some people claiming to be former Democrats who are now supporting Trump. Many Democrats dismiss these people as trolls, and as it turns out, they are probably right. There is a giant epidemic of people (mostly two users) spouting the exact same verbiage throughout social media.Does this sound familiar?I come from a family of Democrats and switched to Republican to over for Mr. Trump! My 80 year old father who s been a life time (sic) Democrat is voting for Donald Trump!Here it is, twice, from two different users:I suppose that could be a coincidence, in a parallel universe, but a quick Google search shows that it s not. Both Kim Smith and Daniel Mazurkiewicz show up dozens of times with the exact same quote. Here s just a sample of the Google results:It s not just Facebook. There is also this:There are also a string of fans of that particular comment:A look at their Facebook pages reveals something kind of strange. Daniel Mazurkiewicz s first post was in April. His image is a watermarked Getty Images picture. Smith appears to have disappeared.There are a couple of possible explanations. One is that these people are classic paid internet trolls. It was revealed just the other day that the Kremlin is behind a massive troll campaign to help boost the billionaire.In his research from St. Petersburg, (freelance journalist Adrian) Chen discovered that Russian internet trolls   paid by the Kremlin to spread false information on the internet   have been behind a number of  highly coordinated campaigns  to deceive the American public.It s a brand of information warfare, known as  dezinformatsiya,  that has been used by the Russians since at least the Cold War. The disinformation campaigns are only one  active measure  tool used by Russian intelligence to  sow discord among,  and within, allies perceived hostile to Russia.Source: Business InsiderIt s not just Russians, though. Trump has paid people to cheer for him. Trump has also been his own cheerleader, by posing as his PR people in the past. In other words, there s a good chance that  Kim Smith  and  Daniel Mazurkiewicz  are, in fact, Donald Trump posing as his supporters.Featured image via John Moore at Getty Images.'

In [23]:
def text_processing(text):
    text = text.lower()
    text = re.sub('\[.*?\]' ,'' ,text)
    text = re.sub('\\W' ," ",text)
    text = re.sub('https?://\S+|www\.\S+' ,'',text)
    text = re.sub('<.*?>+' ,'',text)
    text = re.sub('[%s]' %re.escape(string.punctuation),'',text)
    text = re.sub('\n' ,'',text)
    text = re.sub('\w*\d\w*','',text)
    return text

In [24]:
data['text'] = data['text'].apply(text_processing)

In [25]:
x = data['text']
y = data['class']

x.head()

0    if you ve recently gotten into an online polit...
1    berlin  reuters    german environment minister...
2    donald trump is clearly a threat to our nation...
3    manila  reuters    philippine security forces ...
4    la paz  reuters    more than half the ballots ...
Name: text, dtype: object

In [26]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

In [27]:
X_train.shape , X_test.shape, y_train.dtype

((33658,), (11220,), dtype('int64'))

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()

In [29]:
xv_train =  vectorization.fit_transform(X_train)
xv_test = vectorization.transform(X_test)

In [30]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(xv_train , y_train)

LogisticRegression()

In [31]:
predction = lr.predict(xv_test)

In [33]:
print("Accuaracy score: ",lr.score(xv_test , y_test))

Accuaracy score:  0.9855614973262032